{% extends 'boilerplate_layout.html'%}

{% block content %}
    <div class="content-section">
        
        <h2>CHANGE LOGO</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{category}}">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
            <a href="{{ url_for('change_logo_command_page', filename='logo_1.png') }}">
                <button class="form-button">Choose Logo</button>
            </a>
    </div>
{% endblock content %}
