{% extends 'boilerplate_layout.html'%}

{% block content %}
    <div class="space-over-row"></div>  
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{category}}">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    

        {% for index, url_for_logo in enumerate(url_for_path_to_downloaded_logos)  %}
            <div class="row">
                <div class="col-4"></div>
                <div class="col-sm">
                    <img src="{{url_for_logo}}" class="img-fluid">
                    <p></p>
                </div>
                <div class="col-4"></div>
            </div>
            <div class="row">
                <div class="col-3"></div>
                <div class="col text-center">
                    <a href="{{ url_for_button_to_change_logo[index] }}">
                        <button class="btn btn-primary">Choose Logo</button>
                    </a>
                    <hr/>
                </div>
            <div class="col-3"></div>
            </div>
        {% endfor %}
{% endblock content %}
