<a href="{{ url_for('repository_command_route', id=repo.id, command='one_up') }}">
    <button class="form-button">Go One Directory Up</button>
    </a>

<!-- OLD HEADERS 
  <header class="site-header">
    <div class="container">
      <form class="form-inline" method="GET" action="{{ url_for('result_page') }}"> <!-- url_for uses the route for the method result_page -->
        <div class="input-group">
            {{form.username(placeholder="Username")}}
            
            <input class="btn btn-outline-secondary bg-" type="submit" value="Find User">
          </div>
        </form>
        
      </div>
  
  
  
  
      <!--<nav class="navbar navbar-expand-sm bg-dark navbar-dark">-->
      <nav class="navbar navbar-expand-lg navbar-light style="background-color: #F8F8FF;">
  
        <div class="container">
          <form class="form-inline" method="GET" action="{{ url_for('result_page') }}"> <!-- url_for uses the route for the method result_page-->
            <!-- {{form.hidden_tag()}}  used to prevent cross site forgery-->
              <div class="input-group">
                  {{form.username(placeholder="Username", class="form-control mr-sm-2")}}
                  
                  <input class="btn bg-light"type="submit" value="Find User">
              </div>
          </form>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
  
        </div>
      </nav>
    </header>
    -->



    <div class="row space-over-row">
      <div class="col-7 d-flex justify-content-center">
          <a href="{{ url_for('github_command_route', command='one_up') }}">
              <button class="btn btn-primary">Go One Directory Up</button>
          </a>
          <br>
          <div class="table table-hover">
              {{table}}
          </div>
      </div>
  
      <div class="col-5">
          <div class="content-section">
              <h3>GitHub Options</h3>
              {% if directory.has_git_init %}
                  <h5 class='text-muted'>Current Directory is a Repository</h1>
              {% else %}
                  <h5 class='text-muted'>Current Directory is not a Repository</h1>
              {% endif %}
              <p class='text-muted'>
                  <div class="list-group">
  
                      <a href="{{ url_for('github_command_route', command='add-all') }}" class="list-group-item list-group-item-action disabled">
                          Add Current Folder To Commit
                      </a>
                      <a href="#" class="list-group-item list-group-item-action disabled">
                          Commit Without Message
                      </a>
  
                      <a href="{{ url_for('github_command_route', command='add-commit') }}" class="list-group-item list-group-item-action">
                          Add Everything and Commit
                      </a>
                      <a href="#" class="list-group-item list-group-item-action">Push</a>
                      <a href="{{ url_for('github_command_route', command='git-pull') }}" class="list-group-item list-group-item-action">Pull</a>
                      <a href="#" class="list-group-item list-group-item-action">Fetch</a>
                  </div>
              </p>
          </div>
      </div>
  </div>